h1{
  width: 1000px;
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  margin: 100px auto 40px auto;
}

.game{
  margin: 0 auto 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-between;

  .left-side{
    border: 1px solid red;
    padding: 20px;
    width: 500px;
    background: #724c0d;
    background-image: url('../../img/zenbg-1.png'), url('../../img/zenbg-2.png');
    background-repeat: repeat-x, repeat;
  }

  .right-side{
    background: #5c5c62;
    width: 500px;
  }
}