h1{
  margin: 100px auto 40px auto;
  width: 400px;
  text-align: center;
  color: white;
}

.login-form{
  margin: 0 auto 0 auto;
  width: 400px;

  .form-group{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 16px;

    label{
      color: #efe9e9;
      margin-bottom: 4px;
    }

    input{
      height: 40px;
      outline: none;
      border: 1px solid #ccc;
      border-radius: 7px;
      padding: 2px 12px;
      color: #526270;
    }

    .error-border{
      border: 2px solid #dc3545;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .action{
    text-align: center;
    display: block;
    margin-top: 40px;

    button{
      width: 100px;
      height: 40px;
      cursor: pointer;
      outline: none;
      border: none;
      padding: 5px;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;
      color: white;
      background: #28a745;

      &:hover {
        background: #13732b;
      }
    }

    .disabled-btn{
      background: grey;
      cursor: not-allowed;

      &:hover {
        background: #5b5a5a;
      }
    }
  }
}