.mtb-0{
  margin-top: 0;
  margin-bottom: 0;
}

.mt-0{
  margin-top: 0;
}
.mb-0{
  margin-bottom: 0;
}

.mt-8{
  margin-top: 8px;
}
.mb-8{
  margin-bottom: 8px;
}

.mt-16{
  margin-top: 16px;
}
.mb-16{
  margin-bottom: 16px;
}

button{
  cursor: pointer;
  outline: none;
  border: none;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  color: white;
  /*background: #28a745;*/
}
.btn-danger{
  background: #dc3545;
}

.btn-large{
  width: 120px;
  height: 40px;
}

.center-block{
  width: 100%;
  justify-content: center;
  display: flex;
}
